<% meta title: "PremBile - Articles",
		description: "A list of all recent articles from teams around the premier leauge, including manchester united and liverpool",
		keywords: %w(articles football manchester united liverpool chelsea arsenal footy news city prembible)
%>


                <div id="articles">
                    <ul>
                    	<% @articles.each do |article| %>
                        <li>
                            <div class="article-image">
                            	<%= image_tag(article.article_image) %>
                            </div>
                            <div class="article-title">
                                <h2><%= link_to truncate(article.article_title, :length => 29), :action => 'show', :id => article.id %></h2><span>
                            </div>
                        </li>
                        <% end %>
                </div>