<% meta title: "PremBile",
		description: "An indepth look at the current football related article that you have chosen to read",
		keywords: %w(articles football manchester united liverpool chelsea arsenal footy news city prembible)
%>


<div id="main">
            <div id="container">
                <div id="article-header-title">
                    <h3><%= @article.article_title %></h3>
                </div>
                <div id="article-back">
                	<h3><%= link_to 'Back', :action => 'index' %></h3>
                </div>
                
                <div id="article-content">
                	<%= simple_format(@article.article_big, :class => 'ass') %>
                </div>
                
                <div id="article-ads">
             <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- side -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-6039615735782011"
     data-ad-slot="2654379286"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>

                <div id="wahoha">
                    <br /><br />
                <!-- Classic, created 08/06/14 -->
<div id="wahohaRgc77f"></div>
<script type="text/javascript" src="http://wahoha.com/widget/Rgc77f"></script>
<!-- end -->  
                </div>
            </div>
        </div>

