<div id="main">
	<div id="article-title">
		<div id="title-inner">
			<h2 style="color:white;"><%= @article.article_title %></h2>
		</div>
	</div>
            
	<div id="article">
		<%= simple_format(@article.article_big, :class => 'as') %>               
	</div>        
</div>