*{
    margin: 0;
    padding: 0;
}
 
body{
    margin: 0;
    padding: 0;
     
    background-color: #1b1b24;
}

.ass{
    padding: 10px 0 10px 0;
}
 
#container{
    position: relative;
     
    padding: 10px 0 10px 0;
}
 
/* TOP AND HEADER */
 
#top{
    position: relative;
     
    width: 100%;
    height: 90px;
     
    background-color: #464368;
    color: white;
}
 
#top-container{
    position: relative;
     
    width: 960px;   
    margin: 0 auto;
 
    padding: 10px 0 10px 0;
     
    background-color: #464368;
}
 
#top-left{
    position: relative;
    display: inline-block;
}
 
#top-right{
    position: relative;
    display: inline-block;
     
    float: right;
}
 
#top-right ul{
    position: relative;
}
 
#top-right li{
    position: relative;
     
    display: inline-block;
    list-style: none;
    padding: 0 5px 0 5px;
}
 
/* HEADER */
 
#header{
    position: relative;
     
    width: 100%;
    padding: 10px 0 10px 0;
     
    background-color: #3c3c50;
}
 
#header-container{
    position: relative;
     
    width: 960px;
    margin: 0 auto;
    color: white;
}
 
#header ul{
    position: relative;
}
 
#header li{
    position: relative;
     
    display: inline-block;
    padding: 0 20px 0 0px;
}
 
#header li a{
    text-decoration: none;
    color: white;
}
 
/* MAIN */
 
#main{
    position: relative;
     
    width: 960px;
    margin: 0 auto;
     
    color: white;
}
 
/* ARTICLES */
 
#articles{
    position: relative;
         
    overflow: hidden;
    float: left;
     
    width: 850px;
     
    margin: 0;
    padding: 0;
}
 
#articles ul{
    position: relative;
}
 
#articles li{
    position: relative;
     
    display: inline-block;
    padding: 0 20px 30px 0;
    list-style: none;
}
 
.article-image{
    position: relative;
     
    width: 390px;
    height: 200px;
     
    border: 2px solid #464368;
}
 
.article-title{
    position: relative;
     
    width: 100%;
    padding: 10px 0 10px 0;
     
    background-color: #464368;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.article-title h2{
    position: relative;
    display: inline-block;
    left: 5px;
}

.article-title h2 a{
    color: white;
    text-decoration: none;
}
 
.article-image img{
    position: relative;
     
    width: 100%;
    height: 100%;
}
 
/* ADS */
 
#ads{
    position: relative;
    float: right;
     
    width: 110px;
    height: 60px;
     
    color: white;
    background-color: black;
}

#article-header{
    position: relative;
     
    width: 100%;
    padding: 10px 0 10px 0;
     
    background-color: #464368;
    color: white;
}
 
#article-header-title{
    position: relative;
    display: inline-block;
    float: left;
     
    width: 800px;
    padding: 10px 0 10px 0;
     
    background-color: #464368;
     
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
 
#article-header-title h3{
    position: relative;
     
    left: 10px;
}
 
#article-back{
    position: relative;
    display: inline-block;
    float: right;
     
    width: 150px;
    padding: 10px 0 10px 0;
     
    background-color: #3c3c50;
    color: white;
     
    border-radius: 6px;
}
 
#article-back h3{
    position: relative;
    text-align: center;
}

#article-back h3 a{
    color: white;
    text-decoration: none;
}
 
#article-content{
    position: relative;
    float: left;
     
    top: 10px;
    padding: 0px 0 10px 10px;
    width: 790px;  
}
 
#article-ads{
    position: relative;
    float: right;
    top: 10px;
     
     
    width: 150px;
}

/* WAHOHA */

#wahoha{
    position: relative;
    display: block;
    
    width: 200px;
    height: 300px;
}